div.whole-card {
  background-size: 100%;
  background-image: linear-gradient(
    to top,
    rgb(151, 226, 226) 100%,
    #ddeaee 0%
  );
  border-radius: 10px;
  margin: 20px auto;
  border: 5px solid #768394;
  padding: 10px;
  width: 750px;
}

.weather-app {
  padding: 20px;
  border-radius: 5px;
}

div.overview {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 200;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

form {
  font-family: "Rubik", sans-serif;
  margin-left: 0px;
}

h1 {
  font-family: "Rubik", sans-serif;
  color: black;
  font-size: 35px;
  text-align: center;
  margin-top: 10px;
}

section.Title {
  font-family: "Rubik", sans-serif;
  color: black;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-6 {
  margin-left: 180px;
  text-align: center;
}

.col-9 {
  margin-left: 80px;
  text-align: center;
}

.location-name {
  font-family: "Rubik", sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0px;
}
h2 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 10px;
  text-transform: capitalize;
}
h3 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 10px;
}
i {
  color: blue;
  font-size: 80px;
  margin-top: 10px;
  text-align: center;
}

p {
  font-size: 20px;
  color: black;
  text-align: center;
  margin-top: 10px;
  font-family: "Rubik", sans-serif;
}

div.card {
  width: 150px;
  background: rgba(213, 231, 225, 0.623);
  box-shadow: 2px 2px 2px rgba(91, 105, 114, 0.479);
  padding: 20px 0;
  margin: auto;
}

.card-title {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: black;
  font-size: 16px;
}

.card-text {
  color: black;
  font-size: 20px;
}

div.card i {
  text-align: center;
  color: blue;
  font-size: 40px;
}

.current-forcast img {
  margin: 0 auto;
  height: 24px;
  width: 24px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 85px;
  width: 85px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
7 .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
  margin-bottom: 20px;
}
